.bg {
    background-image: url("../public/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    padding-top: 6pt;
    
  }